body{
    background:linear-gradient(#f2709c, #ff9472);
    font-family: 'Montserrat Alternates', sans-serif;
}

#inputText{
    margin-left: 15px;
    width: 60vh;
    border-radius: 20px;
    height: 90px;
    color: #ff9472;
    font-size: 30px;
}

#button{
    color: #f2709c;
    background-color: white;
    border-radius: 20px;
}

#button:hover{
    color: white;
    background-color: #f2709c;
}
